/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log



# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore

# User-specific stuff
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
